.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



.box{
    
    background: linear-gradient(to right, rgb(23, 23, 136), rgb(11, 11, 51));
    width: 422px;
    border: 1px solid rgba(255, 255, 255, 0.842);;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.842);
    box-sizing: border-box;
    padding: 30px 30px ;
   
    box-shadow: 0 0 20px black;
    
}



.box > h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}


.divinput1 > input, .divinput2 > input{
   
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    border: none;
    outline: none;
   
    border-bottom: 1px solid rgb(194, 177, 177);
    padding-block: 0;
    padding-inline: 0;
    font-size: 15px;
   
    padding-right: 45px;
   
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.842);

}  

.divinput1 > input::placeholder, .divinput2 > input::placeholder{
   color: rgba(255, 255, 255, 0.842);
}

.divcheck{
    display: flex;
    justify-content: space-between;
   margin-bottom: 20px;
    
}

.divp{
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    padding: 0 !important; 


}
.divp p > span:hover {
    text-decoration: underline;
    
    
}

.registroLink {
    color: rgba(255, 255, 255, 0.842)
}

.box > button {
    height: 45px;
    width: 100%;
    border-radius: 40px;
    cursor: pointer;
    border-color: none;
    align-self: center;
    margin-top: 5px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px black;
    font-size: 15px;
    font-weight: 600;
   
    
}

.box > div {
    width: 100%;
   
    position: relative;
    
    
    margin: 30px 0;

}

.exitIcon{
    text-align: end;
    width: 100%;
    

}

.exitFont:hover{
    cursor: pointer;
}

.divinput1, .divinput2 {
    width: 100%;
   
    position: relative;
    
    height: 50px;
    margin: 30px 0;
}

.icon1, .icon2 {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    
}

.divinput1 > input:-webkit-autofill,
.divinput2 > input:-webkit-autofill {
    
    -webkit-box-shadow: 0 0 0 30px rgb(11, 11, 51) inset !important; 
    -webkit-text-fill-color: rgba(255, 255, 255, 0.842) !important; 
}


.divinput2 input[type=number]::-webkit-inner-spin-button, .divinput2 input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
  
  }