.spanProfile{
    font-size: 20px;
    cursor: pointer;

}

.aProfile{
    color: rgba(255, 255, 255, 0.842);
    text-decoration: none;
    font-size: 15px;
    margin-left: 5px;
    
}

.iconUser{
    color: rgba(255, 255, 255, 0.842);
}

.spanProfile:hover .aProfile,.spanProfile:hover > .iconUser{
    color: rgba(255, 255, 255, 0.562);
    
}

