.divcard{
    display: flex;
    flex-direction: column;
  
    height: 350px;
    width: 200px;
    
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 0.5s;
    background-color: #000;
    color: #ffffff;
    
    


}

.divcard:hover {
    box-shadow: 0px 0px 20px 0px white;
    
    

}

.cardimg{
height: 150px;
width: 100%;
display: flex;
align-self: center;



}


.cardbutton{
    display: flex;
    

}

.divbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; 
    

}

.divspan{
    width: 100%;
    font-size: 20px;

    text-align: center;
}