.div1{
   
    height: auto;
    
}

.scroll {
    display: flex;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: rgb(126, 116, 116);
    color: aliceblue;
    height: 60px;
    width: 60px;
    border: 2px solid aliceblue;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}