.div1{
    height: 190px;
    width: 400px;
    color: rgba(255, 255, 255, 0.842);
    background-color: #343434;  
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1rem;
}



.div2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.div1 button{
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.842);
}

.button1{
    background-color: rgba(209, 14, 14, 0.952)
}

.button2{
    background-color: rgb(19, 19, 112);
}