.div1{
    display: flex;
    width: 100%;
    background: linear-gradient(to right, rgb(68, 68, 119),rgb(12, 12, 95));
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.842);
    align-items: center;
}


.div2{
    display: flex;
    align-items: center;
}
 .div3{
    display: flex;
    align-items: center;
} 

.img{
    margin-left: 20px;
    margin-right: 50px;
    color: rgba(255, 255, 255, 0.842);
    font-size: 40px;
}

