.div1{
    display: flex;
    width: 100%;
    
   
    
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.842);
    align-items: center;
    
}

.linkp{
    color: rgba(255, 255, 255, 0.842);
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
    appearance: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
}
.div2{
    display: flex;
    align-items: center;
}
 .div3{
    display: flex;
    align-items: center;
} 

.img{
    margin-left: 20px;
    margin-right: 50px;
    color: rgba(255, 255, 255, 0.842);
    font-size: 40px;
}

.linkp:hover{
    color: rgba(255, 255, 255, 0.562);
}