footer{
    background: #343434;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footerContent{
    width: 33.3%;
    color: aliceblue;
}
.footerContent > h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footerContent p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footerContent ul{
    text-align: center;
}
.list{
    padding: 0;
   
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
    
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.socialIcons{
    text-align: center;
    padding: 0;
}
.socialIcons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.icon{
    color: aliceblue;
    font-size: 25px;
}

.list > li >a, .footerContent > li > a{
    text-decoration: none;
    color: aliceblue;
}
.list > li >a:hover, .footerContent > li > a:hover{
    color: #f18930;
}
.icon:hover{
    color: #f18930;
}
.bottomBar{
     background: #f18930; 
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottomBar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}