.divcard{
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(14, 13, 13, 0.959);
    border-radius: 10px;
     height: 250px;
    width: 200px;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 0.5s;
    background-color: white;
    color: black;
    box-sizing: border-box;
    
    


}

.divcard:hover {
    box-shadow: 0px 0px 20px 0px white;
    

}

.cardimg{
height: 150px;
width: 100%;

display: flex;
align-self: center;



}

.divspan{
    margin-right: 30px;
    font-size: 20px;
    text-align: center;
}